* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

section.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 85dvh;
    width: 75dvw;
    background-color: rgb(31, 31, 31);
    color: white;

    & .title {
        display: flex;
        align-items: flex-start;
        width: 90%;
        letter-spacing: 0.4dvw;
        margin-top: 4dvh;
        font-size: 3dvw;
        gap: 1dvw;
    }

    & .divider {
        margin-top: 2dvh;
        margin-bottom: 1dvh;
        display: flex;
        justify-content: flex-start;
        height: 2px;
        width: 90%;

        & > .line {
            display: flex;
            height: 2px;
            width: 40%;
            background-color: rgba(216, 112, 202, 0.281);
        }
    }

    & > .content {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 3dvh;
        margin-top: 3dvh;

        & > .box {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2dvw;

            & > img {
                width: 15dvw;
            }

            & > p {
                font-size: 1.8dvw;
                font-style: italic;
                color: rgb(104, 104, 104);
                letter-spacing: -0.3px;
            }
        }
    }
}