* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

section.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 85dvh;
    width: 75dvw;
    background-color: rgb(31, 31, 31);
    color: white;

    & .title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.4dvw;
        margin-top: 2dvh;
        font-size: 5dvw;
        gap: 1dvw;

        & img {
            height: 3dvw;
        }
    }

    & .divider {
        margin-top: 3dvh;
        margin-bottom: 1dvh;
        display: flex;
        justify-content: center;
        height: 2px;
        width: 100%;

        & > .line {
            display: flex;
            height: 2px;
            width: 90%;
            background-color: rgba(216, 112, 202, 0.281);
        }
    }

    & > .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        
    }
}