* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

section.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 85dvh;
    width: 75dvw;
    background-color: rgb(31, 31, 31);
    color: white;

    & .title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        letter-spacing: 0.4dvw;
        margin-top: 4dvh;
        font-size: 3dvw;
        gap: 1dvw;
    }

    & .divider {
        margin-top: 2dvh;
        margin-bottom: 1dvh;
        display: flex;
        justify-content: center;
        height: 2px;
        width: 90%;

        & > .line {
            display: flex;
            height: 2px;
            width: 50%;
            background-color: rgba(216, 112, 202, 0.281);
        }
    }

    & > .content {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        gap: 3dvh;
        margin-top: 3dvh;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: rgb(77, 77, 77) rgb(31, 31, 31);

        & .card {
            display: flex;
            flex-direction: column;
            width: 20dvw;
            background-color: rgb(31, 31, 31);
            border-radius: 20px;
            border: 5px solid rgba(221, 142, 211, 0.226);
            overflow: hidden;
            height: 24dvh;
            transition: all 0.3s ease;

            & img {
                height: 20dvh;
                width: 20dvw;
            }

            & h1 {
                margin-left: 1dvw;
            }

            & p {
                padding: 0px 1dvw;
                margin-top: 2dvh;
                font-size: 0.9dvw;
                font-style: italic;
                color: white;
                letter-spacing: -0.5px;
            }

            & a {
                margin-left: 1dvw;
                margin-top: 2dvh;

                & button {
                    cursor: pointer;
                    padding: 1dvh 1dvw;
                }
            }

            &:hover {
                height: 45dvh;
            }
        }
    }
}