* {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    /*border: 1px pink dashed;*/
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header {
    height: 85dvh;
    z-index: 1;

    & > .head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 3.5dvw;
        background-color: rgb(31, 31, 31);

        & > .home {
            padding: 15% 25%;
            background-color: rgb(216, 112, 202);

            & a {
                & > img {
                    height: 4dvh;
                    filter: invert(100%) brightness(20%);
                }
            }
        }

        & .navigations {
            display: flex;
            flex-direction: column;
            gap: 2dvh;
        }

        & > .credit {
            padding: 15% 25%;
        }

        & .navigations, .credit {
            & a {
                & > img {
                    height: 4dvh;
                    filter: invert(100%) brightness(50%);
                }
            }
        }
    }
}

section.profile-image {
    height: 95dvh;
    width: 25dvw;
    background-image: url(../img/profile-pictures/profile2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 2px 2px black;

    & .profile {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        gap: 0.4dvh;

        & h1 {
            color: white;
            font-weight: 700;
            font-size: 3.5dvw;
        }

        & p {
            color: rgb(124, 41, 112);
            font-size: 1.3dvw;
            margin-bottom: 5dvh;
        }
    }
}

section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85dvh;
    width: 50dvw;
    background-color: rgb(31, 31, 31);
    color: white;
    overflow: hidden;

    & .content {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 2rem;

        & .top {
            position: relative;
            width: 100%;
            height: auto;

            & img {
                max-width: 100%;
                display: block;
            }

            & .text-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 80%;

                & h1, p {
                    font-size: 1.8dvw;
                }
            }
        }

        & .bottom {
            width: 100%;
            height: 50dvh;
        }
    }
}