* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

section.profile-image {
    height: 95dvh;
    width: 25dvw;
    background-image: url(../img/profile-pictures/profile2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 2px 2px black;

    & .profile {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        gap: 0.4dvh;

        & h1 {
            color: white;
            font-weight: 700;
            font-size: 3.5dvw;
        }

        & p {
            color: rgb(124, 41, 112);
            font-size: 1.3dvw;
            margin-bottom: 5dvh;
        }
    }
}

section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85dvh;
    width: 50dvw;
    background-color: rgb(31, 31, 31);
    color: white;
    overflow: hidden;

    & .content {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 2rem;

        & .top {
            position: relative;
            width: 100%;
            height: auto;

            & img {
                max-width: 90%;
                display: block;
                filter: brightness(0) saturate(100%) invert(43%) sepia(63%) saturate(475%) hue-rotate(271deg) brightness(95%) contrast(88%);
            }

            & .text-container {
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 80%;

                & h1, p {
                    text-align: start;
                    font-size: 1.8dvw;
                    font-style: italic;
                }
            }
        }

        & .bottom {
            width: 100%;
            height: 50dvh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            & .links {
                display: flex;
                flex-direction: column;
                margin-top: 5dvh;
                margin-left: 2dvw;
                gap: 2dvh;

                & a {
                    text-decoration: none;

                    & p {
                        border-left: 5px rgb(216, 112, 202) solid;
                        padding-left: 5px;
                        position: relative;
                        color: white;
                        text-decoration: none;
                        font-size: 1.5dvw;
                        transition: all 0.1s ease;

                        &::after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: rgb(255, 255, 255);
                            transition: width 0.3s ease-in-out;
                        }

                        &:hover {
                            transform: scale(1.1) translate(1dvw);
                            color: rgb(216, 112, 202);
                            border-left: none;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }

            & .proj {
                margin-top: 4dvh;
                margin-left: 2dvw;

                & a button {
                    background-color: rgb(216, 112, 202);
                    padding: 2dvh 2dvw;
                    font-size: 2dvw;
                    color: rgb(19, 19, 19);
                    border-radius: 10px;
                    transition: all 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                        color: white;
                    }
                }
            }
        }
    }
}